<ion-header>
  <ion-navbar>
    <ion-title>
      <img height="50" src="assets/imgs/tribbles-logo.png">
    </ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
    <h1> Templates </h1> <br>

    <h5>
    <ion-icon ios="ios-contacts" md="md-contacts" style="zoom:1.5" (click)="PfieldPage()"> Patient</ion-icon>
  </h5><br><br>


<!--
    <ion-icon name="card" style="zoom:1.5" (click)="PaymentPage()" > Payment</ion-icon> <br><br>
    <ion-icon name="list" style="zoom:1.5" (click)="ScreeningPage()"> Screening</ion-icon> <br><br>
    <ion-icon name="book" style="zoom:1.5" (click)="NotePage()"> Note</ion-icon> <br><br>
!-->

</ion-content>
